<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blablaarthur.lab1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorPicker"
            android:label="ColorPicker"></activity>
        <activity
            android:name=".Notes"
            android:label="Notes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Calculator"
            android:label="Calculator"></activity>
        <activity android:name=".CreateNote">
            <action android:name="android.intent.myaction.CREATE" />
            <action android:name="android.intent.myaction.EDIT" />
        </activity>
    </application>

</manifest>